body{
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}
h1{
    color: white;
}
p{
    color: white;
}
li{
    text-decoration: none;
}
a{
    text-decoration: none;
    color: white;
}
#container{
    margin-left: 25px;
}